<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="Markus Hanses">

    <title>Micrometer sample</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<!-- Fixed navbar -->

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Monitoring Links</h1>
        <ul>
            <li><a href="/actuator/prometheus">Local Actuator for Prometheus</a></li>
            <li><a href="http://localhost:9090/targets">Prometheus instance</a></li>
            <li><a href="http://localhost:3000">Grafana instance</a></li>
            <li><a href="http://localhost:9200/">Elasticsearch instance</a></li>
            <li><a href="http://localhost:5601">Kibana instance</a></li>
        </ul>

        <h1>Business Cases</h1>
        <ul>
            <li><a href="/apartment/start-rent-apartment/1">Rent apartments - start</a></li>
            <li><a href="/apartment/abort-rent-apartment">Rent apartments - abort</a></li>
            <li><a href="/apartment/rent-apartment/1">Rent apartments - success</a></li>
            <li><a href="/apartment/rent-apartment/2">Rent apartments - not found</a></li>
            <li><a href="/apartment/delay/300">Rent apartments - delay</a></li>
            <li><a href="/house/start-rent-house/1">Rent house - start</a></li>
            <li><a href="/house/abort-rent-house">Rent house - abort</a></li>
            <li><a href="/house/rent-house/1">Rent house - success</a></li>
            <li><a href="/house/rent-house/2">Rent house - not found</a></li>
        </ul>
    </div>


</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
